<div class="hero-chat mx-850">
  <div class="hero-chat-list">
    <div class="hero-chat-item">
      <img src="../../../assets/img/user.svg" alt="user" />
      <div class="hero-chat-item-content">
        <h3>You <span>1:17 PM</span></h3>
        <p>
          What was the revenue generated during the Black Friday Sale 2022
          campaign?
        </p>
      </div>
    </div>
    <div class="hero-chat-item">
      <img src="../../../assets/img/user-intelliswarm-ai.svg" alt="user" />
      <div class="hero-chat-item-content">
        <h3>IntelliSwarm AI <span>1:17 PM</span></h3>
        <p>
          The revenue generated during the Black Friday Sale 2022 campaign was
          $20,000.
        </p>
      </div>
    </div>
    <div class="hero-chat-item">
      <img src="../../../assets/img/user.svg" alt="user" />
      <div class="hero-chat-item-content">
        <h3>You <span>1:17 PM</span></h3>
        <p>What was the open rate for the Black Friday Sale 2022 campaign?</p>
      </div>
    </div>
    <div class="hero-chat-item">
      <img src="../../../assets/img/user-intelliswarm-ai.svg" alt="user" />
      <div class="hero-chat-item-content">
        <h3>IntelliSwarm AI <span>1:17 PM</span></h3>
        <p>The open rate for the Black Friday Sale 2022 campaign was 25%.</p>
      </div>
    </div>
  </div>
  <div class="hero-chat-input">
    <input type="text" placeholder="Type your message" />
    <button>
      <img src="../../../assets/img/mail.svg" alt="mail" />
    </button>
  </div>
</div>
