<div class="pricing-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-2">Choose Your <span>Support Level</span></h2>
        <p class="pricing-subtitle">
          Professional support and services for IntelliSwarm.ai open-source libraries
        </p>
      </div>
    </div>
    <div class="row gy-4">
      <div class="col-md-4" *ngFor="let item of pricingItems; let i = index">
        <div class="pricing-item" [class.popular]="item.isPopular">
          <div class="popular-badge" *ngIf="item.isPopular">Most Popular</div>
          <h3 [innerHTML]="item.name"></h3>
          <p>{{ item.description }}</p>
          <h4>
            <span>{{ item.price }}</span>
            <sub>{{ item.priceSubtext }}</sub>
          </h4>
          <p>{{ item.engagementText }}</p>
          <div class="pricing-button">
            <button class="btn-primary">Get Started</button>
            <button class="btn-secondary">Learn More</button>
          </div>
          <ul>
            <li *ngFor="let feature of item.features">
              <img
                src="../../../assets/img/check.svg"
                alt="check"
                width="24"
                height="24"
              />
              {{ feature }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
