<div class="contact-area mtb-192">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-2">{{ 'CONTACT.TITLE_1' | translate }} <span>{{ 'CONTACT.TITLE_2' | translate }}</span></h2>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="contact-content">
          <div class="contact-logo">
            <span class="logo-text">IntelliSwarm.ai</span>
          </div>
          <p>{{ 'CONTACT.DESCRIPTION' | translate }}</p>
          <h3>{{ 'CONTACT.TEAM' | translate }}</h3>
          <h4>{{ 'CONTACT.LAB' | translate }}</h4>
          <h5>{{ 'CONTACT.TAGLINE' | translate }}</h5>
          <div class="contact-brand">
            <img src="../../../assets/img/brand/1.png" alt="brand" />
            <img src="../../../assets/img/brand/2.png" alt="brand" />
            <img src="../../../assets/img/brand/3.png" alt="brand" />
            <img src="../../../assets/img/brand/4.png" alt="brand" />
            <img src="../../../assets/img/brand/5.png" alt="brand" />
            <img src="../../../assets/img/brand/6.png" alt="brand" />
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="contact-form">
          <h2>{{ 'CONTACT.FORM_TITLE' | translate }}</h2>
          <p>{{ 'CONTACT.FORM_DESC' | translate }}</p>

          <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">
            <div class="form-group">
              <div class="input-group">
                <input type="text" [placeholder]="'CONTACT.FIRST_NAME' | translate" formControlName="firstName" />
                <input type="text" [placeholder]="'CONTACT.LAST_NAME' | translate" formControlName="lastName" />
              </div>
              <div class="input-group">
                <input type="text" [placeholder]="'CONTACT.COMPANY_NAME' | translate" formControlName="companyName" />
                <input type="text" [placeholder]="'CONTACT.JOB_TITLE' | translate" formControlName="jobTitle" />
              </div>
              <div class="input-group">
                <input type="text" [placeholder]="'CONTACT.EMAIL' | translate" formControlName="emailAddress" />
                <input type="text" [placeholder]="'CONTACT.PHONE' | translate" formControlName="phoneNumber" />
              </div>
              <input type="text" [placeholder]="'CONTACT.MESSAGE' | translate" formControlName="message" />
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="flexCheckDefault" formControlName="agreedTerms" />
              <label class="form-check-label" for="flexCheckDefault">
                {{ 'CONTACT.AGREE_TERMS' | translate }}
              </label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
              {{ 'CONTACT.SUBMIT' | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
