<div class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="title">
          Craft an AI Assistant <br />
          <span>in Minutes!</span>
        </h1>
        <p class="mx-850 text-center">
          Rapidly Develop a Tailored AI Assistant with OpenAI GPT-3.5:
          Seamlessly Connect to Resources and Upload Files for Comprehensive
          Assistance.
        </p>
        <div class="hero-btn">
          <a routerLink="/contact" class="btn btn-primary"> Get Started </a>
          <a routerLink="/pricing" class="btn btn-tertiary"> View Pricing </a>
        </div>
        <app-chat></app-chat>
      </div>
    </div>
  </div>
</div>
