<footer>
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-6">
        <div class="footer-logo">
          <span class="logo-text">IntelliSwarm.ai</span>
        </div>
        <p>
          Step into the future of effortless assistance, where innovation meets
          simplicity.
        </p>
      </div>
      <div class="col-md-6">
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="footer-item">
              <h2>Product</h2>
              <ul>
                <li><a routerLink="/examples">Examples</a></li>
                <li><a routerLink="/integrations">Integrations</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-item">
              <h2>Company</h2>
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/pricing">Pricing</a></li>
                <li><a routerLink="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-item">
              <h2>Connect</h2>
              <ul>
                <li><a routerLink="#">Twitter</a></li>
                <li><a href="https://github.com/orgs/intelliswarm-ai/" target="_blank" rel="noopener noreferrer">Github</a></li>
                <li><a routerLink="#">Discord</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row gy-2">
        <div class="col-md-6 align-self-center">
          <p>Copyright © 2025 Intelliswarm. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul>
            <li><a routerLink="/terms-of-service">Terms of Service</a></li>
            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
